.tabtext::part(base) {
    /* for the tab headings - tabs are used e.g. in personal info */
    font-size: 11pt;
    font-weight: 300;
}

wa-divider {
    --color: rgb(227, 227, 230);
}

wa-badge {
    margin-bottom: 10pt;
}

wa-tab::part(base) {
    color: #023e47;
}

wa-tab-group {
    --track-width: 2px;
    --indicator-color: #003f9c;
}

wa-button {
    width: 100%;
    padding: 3pt;
}

#arXiv wa-tooltip::part(body) {
    margin-right: 20px;
    margin-bottom: 0px;
}

wa-tree-item::part(label) {
    font-size: 14pt;
    text-align: left;
}