.header {
    display: flex; 
    flex-direction: column; 
    align-items: left; 
    width: 100%;
    margin-bottom: 70px;
}

#toggle-icon {
    font-size: 2rem;
    cursor: pointer;
    transition: 3s ease;
    font-size: 20px; 
    cursor: pointer; 
    text-align: right; 
    margin-bottom: -20px;
}

.identity-and-menu {
    margin: 0px auto; 
    margin-top: 20px; 
    display: flex; 
    align-items: center; 
}

.site-identity {
    display: inline-table; 
    background-image: url(../../images/favicon.png); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: right; 
    border-right: 2px solid #023e47; 
    padding-left: 40px; 
    padding-right: 60px;
    line-height: 100%;
}


.site-name {
    margin: 10px 0 0 0;
    font-size: 28px;
    text-align: left;
    letter-spacing:10px;
    margin-bottom:-23px;
    font-weight: normal;
    font-family: 'Alegreya';
}

.site-tagline {
    text-align: center;
    letter-spacing: 2px;
    margin-top: 20px;
    font-size: large;
    font-family: "Alegreya Italic";
}

#menu a {
    text-decoration: none;
    color: #023e47;
    font-size: 16px;
    transition: transform 0.3s ease;
    transform-origin: left center;
    display: inline-block;
}

#menu a:hover {
    transform: scale(1.3);
    color: black;
}

#menu li {
    margin: -3px;
}

#menu ul {
    list-style: none;
    padding-left: 15px;
}
