.minorcolumn {
  flex: 0 0 25%; /* Do not grow or shrink, strictly 25% */
  min-width: 100%;
  max-width: 100%; /* Ensures it never expands */
  box-sizing: border-box; /* Ensures padding doesn't cause overflow */
  font-size: 11pt;
}

.spaced-header {
  letter-spacing: 3.5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.minorcolumn .styled-quote {
  margin-top: 50px;
}

.side-carousel {
  box-sizing: border-box; 
  width: 125%; 
  height: 180px; 
  margin-left: -15px;
}